.container {
    padding: 3.5em 5%;
    margin: 0 auto;
    max-width: 1000px;
  }

  @media (min-width: 830px) {
    .container {
      width: 1200px;
      width: 800px;
      padding-left: 0;
      padding-right: 0;
      padding: 3.5em 2em;
    }
  }
  
  @media (min-width: 1065px)  {
    .container {
      width: 1000px;
    }
  }
  


.secaoJogos{
    text-align: center;
}

.listaJogos-artigo{
    text-align: left;
    padding-bottom: 2em;
    max-width: 815px;
    display: inline-block;
    white-space: normal;
    margin: 0 auto;
}

.listaJogos{
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    padding: 0;
    
}


.listaJogos-item:not(:target):first-child{
    display:inline-block;
}

.listaJogos-item:target{
    display: inline-block;
}

.listaJogos-imagem{
    width: 100%;
    height:400px;
    display: block;
    background-size: cover;
}

.listaJogos>li{
    list-style-type: none;
}

.listaJogos>p{
    text-align: justify;
}

.listaJogos-item{
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    
}

.secaoJogos-titulo{
    font-size:3rem;
}

.listaJogos-artigo-link{
    background-color: rgba(25, 119, 226, 0.774);
    box-sizing: border-box;
    border-radius:10px;
   
    color: #fefefe;
    display: flex;
    font-weight: bold;
   
    justify-content: center;
    padding: 0.5rem;
    width: 70%;
    margin: 3% 15%

}

.listaJogos-slider{
    width: 70%;
    margin: 0 auto;
    padding: 0;
}

.listaJogos-slider li{
    display: inline-block;
}

.listaJogos-slider-item{
    text-indent: -9999px;
    display: inline-block;
    overflow: hidden;
    background-color: #d4d4d4;
    border-radius: 50%;
    height: 40px;
    width:40px;
    margin: 0 .5em;
    border: 0;
}

.listaJogos-slider-item:hover,
.listaJogos-slider-item:focus {
  background-color: #a5a5a5;
  outline: 0;
}


.listaJogos-slider>li{
    list-style-type: none
}

.listaDeArtigos-slider-item--ativo {
    background: hsla(200, 70%, 0%, .6);
  }